.group:hover .group-hover\:text-white {
  color: #fff;
}

.group:hover .group-hover\:border-red {
  border-color: #e3342f;
}

.group:hover .group-hover\:border {
  border-width: 1 !important;
}


.text-10xl {
    font-size: 10rem;
}

.text-5xl {
    font-size: 5rem;
}

.text-6xl {
    font-size: 6rem;
}
